head(ng-controller="PageCtrl")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title(ng-bind="page.title()") Mapas Coletivos
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(','))
  meta(name="description", content=pkg.description)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:400italic,600italic,400,600,700,800,300")
  link(rel="stylesheet", href="/css/mapbox.css")
  link(rel="stylesheet", href="/css/leaflet/leaflet.draw.css")
  link(rel="stylesheet", href="/css/jquery-ui.css")
  link(rel="stylesheet", href="/css/base.css")
  link(rel="stylesheet", href="/css/skeleton.css")
  link(rel="stylesheet", href="/css/sir-trevor/sir-trevor-icons.css")
  link(rel="stylesheet", href="/css/sir-trevor/sir-trevor.css")
  link(rel="stylesheet", href="/css/colorpicker.css")
  link(rel="stylesheet", href="/css/app.css")

  script(src="/js/jquery-1.11.0.min.js")
  script.
      (function (a) {
          a(document).ready(function () {
              if ((!a("body").length) || (document.referrer.indexOf('mapascoletivos.com.br') > -1))  {
                  return false
              }
              var b = a('<div class="gic-banner" />').css({
                  position: "fixed",
                  top: 0,
                  left: 0,
                  right: 0,
                  bottom: 0,
                  "z-index": "999999",
                  background: "rgba(0,0,0,0.4)"
              });
              a(document).bind("keyup", function (g) {
                  if (g.which == 27) {
                      b.remove()
                  }
              });
              var f = a('<div class="gic-close" />').css({
                  position: "absolute",
                  top: 0,
                  bottom: 0,
                  right: 0,
                  left: 0,
                  "z-index": "1",
                  cursor: "pointer"
              }).bind("click", function () {
                  b.remove()
              });
              b.append(f);
              var d = a('<div class="gic-banner-container" />').css({
                  position: "absolute",
                  top: "10%",
                  left: "10%",
                  right: "10%",
                  "z-index": 2
              }).bind("click", function () {
                  b.remove()
              });
              b.append(d);
              var e = a('<a href="http://goo.gl/kdV4CS" target="_blank" />');
              d.append(e);
              var c = a('<img src="http://infoamazonia.org/wp-content/uploads/2014/04/finalistas.jpg" />').css({
                  width: "100%",
                  height: "auto"
              });
              e.append(c);
              a("body").append(b)
          })
      })(jQuery);



  - if(process.env.GOOGLE_ANALYTICS_ID)
    script
      | var _gaq = _gaq || [];
      | _gaq.push(['_setAccount', '#{process.env.GOOGLE_ANALYTICS_ID}']);
      | _gaq.push(['_trackPageview']);

      | (function() {
      | var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      | ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      | var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      | })();

  - if (req.isAuthenticated())
    script(type="text/javascript").
      window.isAuthenticated = true;
      window.user = !{JSON.stringify(req.user)};

  block head