header#mast-header
		.container
				.four.columns
					h1
						a.brand(href='/') {{siteTitle}}
				.eight.columns
					ul#mast-nav(ng-controller='LoginCtrl')
						li
							a(href='/explore', title='Explorar', translate) Explore
						li(ng-show='isAuthenticated')
							a(href='/dashboard', title='{{\'Dashboard\' | translate}}')
								span.lsf 
								span(translate) Dashboard
						li(ng-show='isAuthenticated')
							a(href='javascript:void(0);', title='Sair', ng-click='logout()')
								span.lsf 
								span(translate) Logout
						li(ng-hide='isAuthenticated')
							a(href='/login', title='Entrar')
								span.lsf 
								span(translate) Login
