ul
	li
		a(href="/admin/settings") Configurações
		ul
			li
				a(href="/admin/settings") Configurações gerais
			li
				a(href="/admin/settings/privacy") Privacidade
	li
		a(href="/admin/users") Usuários
		ul
			li
				a(href="/admin/users") Gerenciar usuários
			li
				a(href="/admin/users/new") Adicionar novo usuário
	li
		a(href="/admin/privacy") Privacidade