extends ../../layouts/admin-area

block content
	section#dashboard
		p Defina aqui as configurações gerais do seu site.
		table.form
			tr
				td.label
					label(for="site_title") Título do site
				td.input
					input(id="site_title" type="text" placeholder="Digite o título do site")
			tr
				td.label
					label(for="site_description") Descrição do site
				td.input
					textarea(id="site_description" rows="5" placeholder="Digite uma breve descrição do site")
			tr
				td.label
					label(for="site_baselayer") Camada base padrão
				td.input
					input(id="site_baselayer" type="text" placeholder="URL em TileLayer da camada base")